{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.0",
        "title": "Rates JN"
    },
    "host": "rates.juannavas.dev",
    "basePath": "/",
    "schemes": ["https"],
    "paths": {
        "/bcv": {
            "get": {
                "tags": ["Banco Central de Venezuela"],
                "summary": "",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "src": {
                                    "type": "string",
                                    "example": "http://www.bcv.org.ve"
                                },
                                "value": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/airtm": {
            "get": {
                "tags": ["AirTM"],
                "summary": "",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "src": {
                                    "type": "string"
                                },
                                "buy": {
                                    "type": "number"
                                },
                                "general": {
                                    "type": "number"
                                },
                                "sell": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/airtm/sell": {
            "get": {
                "tags": ["AirTM"],
                "summary": "",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "src": {
                                    "type": "string"
                                },
                                "sell": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/airtm/general": {
            "get": {
                "tags": ["AirTM"],
                "summary": "",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "src": {
                                    "type": "string"
                                },
                                "sell": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/airtm/buy": {
            "get": {
                "tags": ["AirTM"],
                "summary": "",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "src": {
                                    "type": "string"
                                },
                                "sell": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dolartoday": {
            "get": {
                "tags": ["DolarToday"],
                "summary": "",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "src": {
                                    "type": "string"
                                },
                                "USD": {
                                    "type": "string"
                                },
                                "EUR": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
